body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

th, td {
  width: 5em;
  text-align: left;
}

.hero {
  background: lightskyblue;
}

.current {
  background: lightgray;
}

.current.hero {
  background: cadetblue;
}

.Labels {
  color: darkgray;
  font-weight: normal;
}

.folded {
  font-size: 0.8em;
  color: darkgray;
}